_CI.md
.dagger
.dockerignore
.env
.git
.github
.helm
.mypy_cache
.pytest_cache
.venv
.vscode
Conduit.postman_collection.json
docker-compose*.yaml
docker-compose*.yml
docker/data/**
README.md
virtualenv
